:root {
  --dark: #2D2D2D;
  --primary: #ED7802;
  --light: #FFFFFF;
  --font: #919191;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "FlameRegular";
  /*Can be any text*/
  src: local("FlameRegular"),
    url("./fonts/FlameRegular.otf") format("truetype");
}

@font-face {
  font-family: "FlameBold";
  /*Can be any text*/
  src: local("FlameBold"),
    url("./fonts/FlameBold.otf") format("truetype");
}

.container {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.teks-primary {
  color: var(--primary) !important;
}

.hidedesktop {
  display: none !important;
}

body {
  background-color: #F9F4F2 !important;
}

.body {
  background-image: url('./assets/BK_bg.jpg');
  background-size: cover;
}

.container {
  font-family: "FlameRegular";
}

.list {
  list-style: none;
}

.list-inline {
  display: inline-block;
}

.logo {
  position: absolute;
  margin-right: 35px;
  width: 90px;
  height: 90px;
  margin-top: -8px;
  cursor: pointer;
}

.button-primary {
  background: var(--primary) !important;
  border: solid 1px var(--primary) !important;
  color: var(--light) !important;
}

.navbarBK {
  display: flex;
  justify-content: center;
  background-color: #2d2d2d;
  width: 100%;
  height: 76px;
  z-index: 1000;
  position: relative;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 50%);
  color: #fff;
  padding: 0px 16%;
  margin: 0px;
  font-family: "FlameRegular";
}

.navbarBK .list-inline {
  margin-right: 40px;
  cursor: pointer;
}

.navbarBK ul li ul li:first-child {
  font-size: 14px;
  list-style: none;
}

.navbarBK ul li ul li:nth-child(2) {
  font-size: 24px;
  list-style: none;
  font-weight: bold;
}

.navbarBK div:nth-child(1) {
  width: 90px;
}

.navbarBK div:nth-child(2) {
  width: 80%;
  margin-top: -3px;
  margin-left: 30px;
}

.navbarBK div:nth-child(3) {
  width: 100px;
  margin-top: 80px;
  margin-left: 30px;
  background-color: none !important;
  background: none !important;
  font-size: 24px;
}

.navbarBK div:nth-child(3) a {
  font-size: 24px;
  font-weight: bold;
  margin-right: 40px;
}

.navbarBK div:last-child {
  width: 80px;
  margin: 0px;
}


.navbarBK div:nth-child(4) {
  width: 60px;
  margin: 0px;
  background-color: var(--primary);
  text-align: center;
}

.navbarBK div:nth-child(5) {
  position: absolute;
  left: 20px;
  color: var(--primary);
  display: none;
}

.navbarBK ul {
  margin: 0px;
  padding: 0px;

}

.navbarBK>* {
  padding: 15px 0;
}

.navbarBK__toggle {
  font-size: 30px;
  cursor: pointer;
}

.cart {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.cart__wrapper {
  position: relative;
}

.cart__icon {
  font-size: 30px;
  margin-left: -15px;
  margin-top: 4px;
}

.cart__notif {
  position: absolute;
  background-color: red;
  width: 22px !important;
  height: 22px;
  border-radius: 100px;
  top: -6px;
  right: 20px;
  padding-bottom: 4px;
}

.menu-box {
  float: left;
  margin: 20px 0px;
  padding: 20px 20px 30px 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 2px 2px 15px -4px #6b6b6b;
  height: 360px;
}
.menu-box h5 {
  color: #8B542F;
  font-family: FlameBold;
}
.bodybg {
  background-image: url('./assets/BK_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;

  padding-top: 85px;
}

.search__button {
  background-color: var(--primary) !important;
  color: var(--light) !important;
}
.qty-wrapper {
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  display: flex;
  background: #fff;
  height: 40px;
  overflow: hidden;
}
.qty-wrapper div:nth-child(1){
  width: 5%;
  cursor: pointer;
  padding-top: 5px;
}
.qty-wrapper div:nth-child(2){
  width: 90%;
}
.qty-wrapper input {
  width: 100% !important;
}
.qty-wrapper div:nth-child(3){
  width: 5%;
  padding-top: 5px;
  cursor: pointer;
}
.footer {
  background-color: var(--dark);
  color: var(--light);
  font-family: 'FlameRegular';
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.footer__logo {
  font-size: 20px;
  font-family: "FlameRegular";
}

.footer__call {
  width: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

}

.footer__call div:first-child {
  width: 130px;
}

.footer__call div:nth-child(2) {
  width: 280px;
}

.footer__call div:nth-child(3) {
  width: 240px;
}

.footer__link {
  display: flex;
  color: #919191;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;
}

.footer__link div:nth-child(1) {
  padding-right: 15px;
  height: 15px;
  border-right: solid 1px #919191;
}

.footer__link div:nth-child(2) {
  padding-left: 15px;
  padding-right: 15px;
  height: 15px;
  border-right: solid 1px #919191;
}

.footer__link div:nth-child(3) {
  padding-left: 15px;
  padding-right: 15px;
  height: 15px;
  border-right: solid 1px #919191;
}

.footer__link div:nth-child(4) {
  padding-left: 15px;
  padding-right: 15px;
  height: 15px;

}

.content-block {
  width: 100%;
  height: 100%;
  padding: 100px 0px 150px;
  margin: 50px 0px 0px;
  display: table;
  background-color: #f9f4f2;
  position: relative;
  top: -120px;
}



/* media queries */


@media screen and (max-width:1024px) {

  .container {
    padding-left: 4% !important;
    padding-right: 4% !important;
  }
  
  .hidedesktop {
    display: block !important;
  }

  .logo {
    width: 40px;
    height: 40px;
    z-index: 1000;
    left: 45%;
    top: 13px;
  }

  .navbarBK {
    position: relative;
    height: 50px;
  }

  .navbarBK>* {
    padding: 7px 0;
  }

  .navbarBK div:nth-child(2)::before {
    height: 100vh;
  }

  .navbarBK div:nth-child(2) {
    width: 100%;
    position: absolute;
    left: -30px;
    top: 50px;
    background-color: #2D2D2D;
    padding-left: 30px;

  }

  .navbarBK .list-inline {
    display: block;
    margin-top: 20px;
  }

  .navbarBK div:nth-child(3) {
    position: absolute;
    left: -30px;
    padding-left: 30px;
    top: 240px;
    background-color: #000;
  }

  .navbarBK div:nth-child(4) {
    position: absolute;
    right: 0;
    height: 100%;
  }

  .navbarBK div:nth-child(5) {
    display: block;
  }

  .cart__wrapper {
    width: 100%;
    position: relative;
    background: green;
  }

  .cart__notif {
    position: absolute;
    margin-left: 60px !important;
    margin-top: -50px !important;
    text-align: center;
  }

/* 
  .menu-box {
    width: 100%;
  } */


  /* footer */

  .footer__logo {
    text-align: center;
    font-size: 24px;
  }

  .footer__call {
    width: 100%;
    flex-direction: column;
    text-align: center;

  }

  .footer__call div:first-child {
    width: 100%;
  }

  .footer__call div:nth-child(2) {
    width: 100%;
  }

  .footer__call div:nth-child(3) {
    width: 100%;
  }

  .footer__link {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .footer__link div:nth-child(1) {
    margin: 5px 10px;
    color: #fff;
    border-right: solid 0px #919191;
  }

  .footer__link div:nth-child(2) {
    margin: 5px 10px;
    color: #fff;
    border-right: solid 0px #919191;
  }

  .footer__link div:nth-child(3) {
    margin: 5px 10px;
    color: #fff;
    border-right: solid 0px #919191;
  }

  .footer__link div:nth-child(4) {
    margin: 15px 10px;

  }
}